@page "/"
@rendermode InteractiveServer
@implements IAsyncDisposable
@inject IChatHubService _chatHubService;
@inject IChatApiService _chatApiService;

<div class="chat">
    <div class="chat-left-side">
        <h2>Topics</h2>
        
        <div class="chat-list">
            @foreach (var room in _rooms)
            {
                <div class="chat-list-element" @onclick="() => SelectRoom(room)">
                    <img class="element-image" src=@($"images/{room.Name}.png") alt=@room.Name/>

                    <div class="element-name">
                        <span>@room.Name</span>
                    </div>
                </div>
            }

            <hr class="chat-list-line"/>
        </div>
    </div>

    <div class="chat-right-side">
        @if (_chat != null)
        {
        <div class="chat-header">
            <div class="chat-header-title">
                <img class="element-image" src=@($"images/{_chat.Name}.png") alt=@_chat.Name/>

                <div class="element-name">
                    <span>@_chat.Name</span>
                </div>
            </div>

            <hr class="chat-header-line"/>
        </div>
        }

        <div class="chat-body">
            @foreach (var message in _messages)
            {
                <div class="chat-body-message">
                    <span>@message.Content</span>
                    <span>@message.CreationDate</span>
                </div>
            }
        </div>

        <div class="chat-sender">
            <input class="sender-input" @bind="_message" type="text" placeholder="Enter a message"/>
            <div class="sender-button" @onclick="SendMessageAsync">Send</div>
        </div>
    </div>
</div>

@code 
{
    private List<ChatRoomModel> _rooms = new List<ChatRoomModel>();
    private List<MessageModel> _messages = new List<MessageModel>();
    private string _message;
    private ChatRoomModel _chat;

    protected override async Task OnInitializedAsync()
    {
        _rooms = await _chatApiService.GetAllRooms();
        SelectRoom(_rooms[0]);

        _chatHubService.OnReceiveMessage(HandleReceivedMessage);
        await _chatHubService.StartAsync();
        await _chatHubService.JoinChat();
    }

    private async void SelectRoom(ChatRoomModel chatRoomModel)
    {
        _chat = chatRoomModel;
        _messages = await _chatApiService.GetMessagesByRoom(chatRoomModel.Id);
        await InvokeAsync(StateHasChanged);
    }

    private void HandleReceivedMessage(string receivedMessage)
    {
        //_messages.Add(_message);
        InvokeAsync(StateHasChanged);
    }

    private async Task SendMessageAsync()
    {
        await _chatHubService.SendMessageAsync(_message);
    }

    public async ValueTask DisposeAsync()
    {
        await _chatHubService.CloseAsync();
    }
}