@page "/"
@implements IAsyncDisposable
@inject IChatService _chatService;

<div class="chat">
    <div class="chat-left-side">
        <h2>Topics</h2>
        
        <div class="chat-list">
            <div class="chat-list-element">
                <img class="element-image" src= "images/music.png" alt="music"/>

                <div class="element-name">
                    <span>Music</span>
                </div>
            </div>

            <div class="chat-list-element">
                <img class="element-image" src= "images/reading.png" alt="reading"/>

                <div class="element-name">
                    <span>Reading</span>
                </div>
             </div>

             <div class="chat-list-element">
                <img class="element-image" src= "images/sport.png" alt="sport"/>

                <div class="element-name">
                    <span>Sport</span>
                </div>
             </div>

             <div class="chat-list-element">
                <img class="element-image" src= "images/science.png" alt="science"/>

                <div class="element-name">
                    <span>Science</span>
                </div>
             </div>

            <hr class="chat-list-line"/>
        </div>
    </div>

    <div class="chat-right-side">
        <div class="chat-header">
            <div class="chat-header-title">
                <img class="element-image" src= "images/music.png" alt="music"/>

                <div class="element-name">
                    <span>Music</span>
                </div>
            </div>

            <hr class="chat-header-line"/>
        </div>

        <div class="chat-body">
            @foreach (var message in _messages)
            {
                <div class="chat-body-message">
                    <span>@message</span>
                    <span>10.10.2000</span>
                </div>
            }
        </div>

        <div class="chat-sender">
            <input class="sender-input" @bind="_message" type="text" placeholder="Enter a message"/>
            <div class="sender-button" @onclick="SendMessageAsync">Send</div>
        </div>
    </div>
</div>

@code 
{
    private List<string> _messages = new List<string>();
    private string _message;

    protected override async Task OnInitializedAsync()
    {
        _chatService.OnReceiveMessage(HandleReceivedMessage);
        await _chatService.StartAsync();
        await _chatService.JoinChat();

        _messages.Add("Hello");
        _messages.Add("Bye");
    }

    private void HandleReceivedMessage(string receivedMessage)
    {
        _messages.Add(_message);
        InvokeAsync(StateHasChanged);
    }

    private async Task SendMessageAsync()
    {
        await _chatService.SendMessageAsync(_message);
    }

    public async ValueTask DisposeAsync()
    {
        await _chatService.CloseAsync();
    }
}